apiVersion: v1
kind: Service
metadata:
  name: auth-service
  namespace: {{ .Values.namespace }}
  labels:
    app: auth-service
spec:
  type: ClusterIP
  ports:
  - port: 4001
    targetPort: 4001
    protocol: TCP
  selector:
    app: auth-service
