apiVersion: v1
kind: Service
metadata:
  name: booking-service
  namespace: {{ .Values.namespace }}
  labels:
    app: booking-service
spec:
  type: ClusterIP
  ports:
  - port: 4003
    targetPort: 4003
    protocol: TCP
  selector:
    app: booking-service
